@import "reset.css";

:root {
  --neu-mixin : {
    border-radius: 45px;
    background: linear-gradient(225deg, #e6e6e6, #ffffff);
    box-shadow: -6px 6px 6px #c2c2c2, 6px -6px 6px #ffffff;
  }
  --cont-color: #fff;
  --bg-color: #d3d3d3;
}
html,
body {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: var(--bg-color);
}

main {
  border-radius: 10px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -1px 1px 2px #696969, 1px -1px 2px #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
height: 80%;
width: 80%;
max-width: 800px;
margin: auto;
}

main .icon-container {
}
main section.location_info {
}
main section.data {
  flex-basis: 40%;
  display: grid;
  place-items: center;
}
main section.city-search-container {
}

section.city-search-container input {
  text-align: center;
  font-size: 1.15rem;
}
footer {
  margin-top: -1rem;

  height: 10%;
}

.title {
  font-size: 1.25rem;
}

.value {
  font-size: 1rem;
  font-style: italic;
}

.status {
  font-size: 1.75rem;
  font-weight: bold;
  color: #0a5062;
}
.location {
  font-size: 1.25rem;
  font-style: italic;
}
